@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

code { font-family: 'Fira Code', monospace; }

@supports (font-variation-settings: normal) {
  code { font-family: 'Fira Code VF', monospace; }
}

body {
    background-color: #1c1c1c;
}

.info {
    vertical-align: center;
    margin: 100px;
    font-family: 'Fira Code', monospace;
    color: #ffff;
}

a {
    color: aqua;
}